.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vh 2vw;
}

.tab-container .item img {
  height: 96px;
  width: auto;
}

.tab-container .item p {
  font-size: 0.8rem;
  font-weight: bold;
}
